<footer
  style="
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
  "
>
  <p style="font-weight: bold">
    &copy; <span id="year"></span> Trang Web Của chúng tôi. Tất cả các quyền
    được bảo lưu.
  </p>
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>
</footer>
